asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
click==7.1.2
Django==3.0.12
fuzzywuzzy==0.18.0
joblib==0.15.1
lxml==4.5.0
nltk==3.5
nltkdata==0.0.1
python-Levenshtein==0.12.0
pytz==2019.3
regex==2020.5.14
selenium==3.141.0
soupsieve==2.0
sqlparse==0.3.1
tqdm==4.46.0
urllib3==1.25.8
